<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-App Setting</title>
    <link rel="stylesheet" href='../../static/myapp/css/setting_content.css'>
</head>


<header>
    <h1>
       {{ content }}
    </h1>
</header>

<body>
    <h1>
        
    </h1>
    <h1>
        Changing Completed
    </h1>
    
</body>


<footer>
    <span>
        <form action="{% url 'friends' id %}">
            <input type="submit" value="Friends">
        </form>
    </span>
    <span>
        <form action="{% url 'setting' id 0 %}">
            <input type="submit" value="Settings">
        </form>
    </span>
</footer>


{# https://blog.narito.ninja/detail/98/ #}
</html>