<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-App Friend</title>
    <link rel="stylesheet" href='../../static/myapp/css/friends.css'>
</head>

<header>
    <h1>
        Friend
    </h1>
</header>

<body>
    <div class="youare">You are {{ username }}</div>

        {% csrf_token %}  {# CSRF 対策 #} 
        
        {% for user in friends %}
        <form action="{% url 'talk_room' id user.id %}" method=""POST>
            <div class="list">
                <div class="icon_p"><input action="{% url 'talk_room' id user.id %}" type="image" src="{{ user.image }}" alt="go" id="icon"></div>
                <div class="name">{{ user.username }}</div>
                <div class="name">{{ user.lasttalk }}</div>
            </div>
        </form>
        {% endfor %}
        
    <form action="{% url 'index' %}">
        <p class="buttons">
            <input type="submit" value="Log out" id="button2">
        </p>
    </form>
</body>
<footer>
    <span>
        <form action="{% url 'friends' id %}">
            <input type="submit" value="Friends">
        </form>
    </span>
    <span>
        <form action="{% url 'setting' id 0 %}">
            <input type="submit" value="Settings">
        </form>
    </span>
</footer>
</html>