<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-App Top</title>
    <link rel="stylesheet" href='../static/myapp/css/index.css'>
    <script type="text/javascript" src="../static/myapp/css/index.js"></script>
</head>
<body>
    <h1>
        課題１：チャットアプリ
    </h1>
    <div class="button">
        <form action="login"><input type="submit" value="Log in"></form>
        <form action="signup"><input type="submit" value="Sign up"></form>
    </div>
</body>
</html>