<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-App Setting</title>
    <link rel="stylesheet" href='../../static/myapp/css/setting.css'>
</head>

<header>
    <h1>
       Setting
    </h1>
</header>

<body>
    <div class="button">
        <form action="{% url 'setting' id 1 %}" class="setting-button"><input type="submit" value="ユーザー名変更"></form>
        <form action="{% url 'setting' id 2 %}" class="setting-button"><input type="submit" value="メールアドレス変更"></form>
        <form action="{% url 'setting' id 3 %}" class="setting-button"><input type="submit" value="アイコン変更"></form>
        <form action="{% url 'setting' id 4 %}" class="setting-button"><input type="submit" value="パスワード変更"></form>
        <form action="{% url 'index' %}" class="setting-button"><input type="submit" value="ログアウト"></form>
    </div>
</body>

<footer>
    <span>
        <form action="{% url 'friends' id %}">
            <input type="submit" value="Friends">
        </form>
    </span>
    <span>
        <form action="{% url 'setting' id 0 %}">
            <input type="submit" value="Settings">
        </form>
    </span>
</footer>

</html>